<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348505075867-p18ldg3gtr01rhiq1v5p5p0rur0291o7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348505075867-p18ldg3gtr01rhiq1v5p5p0rur0291o7</string>
	<key>API_KEY</key>
	<string>AIzaSyCMSp8lLsLMIBLK21emp0fzh8iixSFCJxU</string>
	<key>GCM_SENDER_ID</key>
	<string>348505075867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ilomi.Pairs</string>
	<key>PROJECT_ID</key>
	<string>pairs-960e7</string>
	<key>STORAGE_BUCKET</key>
	<string>pairs-960e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348505075867:ios:7177629d542c7a585f563e</string>
</dict>
</plist>